.masthead{
    padding: 5rem 0;
}

@media (max-width: 800px){
    .botoes{
        width: 65%;
    }

    .masthead h1{
        font-size: 1.1rem;
        letter-spacing: 0;
        font-weight: bold;
    }

    .crm{
        color: white;
        font-family: 'Varela Round';
        font-size: 0.8rem;
        background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

@media (min-width: 801px){
    .botoes{
        width: 30%;
    }

    .masthead h1{
        font-size: 3rem;
        letter-spacing: 0.8rem;
    }

    .card{
        height: 60%;
    }

    .padding-titulo{
        padding-bottom: 22%;
    }

    .padding-titulo2{
        padding-bottom: 10%;
    }

    .paddingtop{
        padding-top: 23%;
    }

    .padding-titulo3{
        padding-bottom: 30%;
    }

    .crm{
        color: white;
        font-family: 'Varela Round';
        font-size: 1.3rem;
        background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

