@media (max-width: 700px){
    .imagem-carousel img{
        width: 65%;
    }
}

@media (min-width: 701px){
    .imagem-carousel img{
        width: 40%;
    }
}

.masthead{
    padding: 5rem 0;
}

@media (max-width: 800px){
    .botoes{
        width: 65%;
    }

    .videos-div{
        text-align: center;
    }

    .masthead h1{
        font-size: 1.5rem;
        letter-spacing: 0;
        font-weight: bold;
    }

    .subtitulo{
        font-size: 1.0rem !important;
    }

    .titulos{
        padding-top: 15%;
        padding-bottom: 1%;
    }

    .titulos-2{
        padding-top: 18%;
    }
}

@media (min-width: 801px){
    .botoes{
        width: 30%;
    }

    .videos1{
        margin-left: 5%;
    }

    .videos2{
        margin-left: 8%;
    }

    .videos3{
        margin-left: 10%;
    }

    .masthead h1{
        font-size: 3rem;
        letter-spacing: 0.8rem;
    }

    .subtitulo{
        font-size: 2.1rem !important;
    }

    .titulos{
        padding-top: 5%;
        padding-bottom: 7%;
    }

}