{% import "bootstrap/wtf.html" as wtf %}

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dra Mariana Boni - Dermatologia Clínica & Estética</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">
    <link href="/static/css/css.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style="padding: .5rem 105px;"><img class="img-fluid" alt="" style="max-width: 60%;"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-weight: bold; color:	#54ffe5" href="#projects">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-weight: bold; color:	#54ffe5" href="#promotions">Dê uma espiadinha</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-weight: bold; color: 	#54ffe5" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Header -->
    <!-- <header class="masthead"> -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          {% include "flash.html" %}
          <br>
          <br>
          <br>
          <h2 class="text-white-50 mx-auto mt-2 mb-5" style="font-weight: bold; color: rgba(255, 255, 255) !important;">Bem-vindos ao meu novo espaço</h2>
          <h1 class="mx-auto my-0 text-uppercase">Dra Mariana Boni</h1>
          <h1 class="mx-auto my-0 text-uppercase">Dermatologia</h1>
          <h1 class="mx-auto my-0 text-uppercase">Clínica & Estética</h1>
          <br/>
          <br/>
          <a href="https://wa.me/5521985600001" target="_tab" class="btn btn-primary js-scroll-trigger" style="width: 30%;">Agende Agora</a>

          <br>
          <br>
          <a href="#projects" target="_tab" class="btn btn-primary js-scroll-trigger" style="display: block; width: 30%; margin: 0 auto;">About me</a>

          <br>
          <a href="#promotions" target="_tab" class="btn btn-primary js-scroll-trigger" style="display: block; width: 30%; margin: 0 auto;">Dê uma Espiadinha</a>
          
          <br>
          <a href="#signup" target="_tab" class="btn btn-primary js-scroll-trigger" style="display: block; width: 30%; margin: 0 auto;">Contact</a>
        
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">- Sempre presente -</h2>
            <p class="text-white-50" style="font-size:1.5rem">Inovações em Dermatologia.<br/>Cosmetologia Estética buscando beleza com naturalidade para face e corpo.</p>
          </div>
        </div>
        <img src="/static/img/logoverdelaranja_cortado.PNG" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="/static/img/mb.jpg" alt="" style="padding: 5%;">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Conhecendo mais seu médico</h4>
              <p class="text-black-50 mb-0" style="text-align: justify">Formei-me em Medicina na UFF e lá fiz pós-graduação em Dermatologia, o que muito me orgulha. Tive alguns dos melhores professores do Brasil tanto tecnicamente, quanto intelectualmente. Mas... acredite: o mais especial sobre o time da UFF é a ética que passam ao ensinar. Formam médicos dispostos a VER O PACIENTE como um ser único, importante e especial. <br/>
              Há mais de 20 anos vejo o paciente de maneira única e holística, jamais separando-o como um grande impossível quebra-cabeça. <br/>
              Minha busca pelo belo através das artes, permitiu manter uma porta aberta e clara para entender que BELEZA é SAÚDE. <br/>
              Faço Demartologia Estética, em todos esses anos de trajetória, individualizando e respeitando as linhas naturais da face e do corpo, jamais esquecendo a saúde da pessoa que busca se sentir mais segura e feliz.</p>
            </div>
          </div>
        </div>

        <h1 id="promotions" style="text-align: center;">Dê uma Espiadinha!</h1>
        <br>
        <br>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Laser</h3>
            <br>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032db6b8125fc0084fc115b_12286.mp4" style="margin-left: 5%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Preenchimento</h3>
            <br>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032ebf6148e4d003dd0f769_87804.mp4" style="margin-left: 8%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Microagulhamento</h3>
            <br>
            <br>
            <video width="320" height="550" controls src="../static/img/final_603305fb1249090059f5b6fe_987814.mp4" style="margin-left: 10%"></video>
          </div>
        </div>
        <br>
        <br>
        <div id="promotions" class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div style="margin: 0 auto;">
            <h3 style="text-align: center;">Mais Explicadinho!</h3>
            <br>
            <br>
            <video width="320" height="550" controls src="../static/img/final_603306ba2cbf530102afb535_845475.mp4"></video>
          </div>
        </div>
        <br>
        <br>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="/static/img/cuidados-rosto_comlogo.jpeg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Consulta Clínica</h4>
                  <p class="mb-0 text-white-50">Com o cuidado que você merece.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="/static/img/cuidados-corpo_comlogo.jpeg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Tratamentos Estéticos</h4>
                  <p class="mb-0 text-white-50">Cuidando de você.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="/static/img/IMG_4015.jpeg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Atendimento Online</h4>
                  <p class="mb-0 text-white-50">Para que a distância não nos separe.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>
        <br>
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Depilação a Laser</h3>
            <h3 style="text-align: center;">Axila</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e17b87f3b0008c6067ad_476101.mp4" style="margin-left: 5%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Drug Delivery na Dermatologia</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032dd15bb4200003d50e43f_892208.mp4" style="margin-left: 8%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Estrias Brancas & Rosas</h3>
            <br>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e20b95c4eb008b835356_230325.mp4" style="margin-left: 10%"></video>
          </div>
        </div>
        <br>
        <br>
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4 col-lg-3" style="margin: 0 auto;">
            <h3 style="text-align: center;">Revitalização dos</h3>
            <h3 style="text-align: center;">Lábios a Laser</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e292e0ad8d00aa3cd272_68629.mp4" style="margin-left: 5%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Rejuvenescimento</h3>
            <h3 style="text-align: center;">Colo & Pescoço</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e36c7a8c73002fa1691c_686664.mp4" style="margin-left: 8%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Luz Intensa Pulsada</h3>
            <h3 style="text-align: center;">para Rosácea</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e3ec971e6f003d4ffa49_238914.mp4" style="margin-left: 10%"></video>
          </div>
        </div>

        <br>
        <br>
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Rejuvenescimento</h3>
            <h3 style="text-align: center;">das Pálpebras</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e48534e6c50029ab3689_491395.mp4" style="margin-left: 5%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Rejuvenescimento Facial</h3>
            <h3 style="text-align: center;">(mais colágeno)</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e5baaa21ea0082b35dc2_310236.mp4" style="margin-left: 8%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Tratamento dos Vasos</h3>
            <h3 style="text-align: center;">da Face (Rosácea)</h3>
            <video width="320" height="550" controls src="../static/img/final_6032e6ac2b6fe30072e8c62a_226266.mp4" style="margin-left: 11%"></video>
          </div>
        </div>

        <br>
        <br>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Microagulhamento</h3>
            <br>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e73aab586b002f6a4eed_735061.mp4" style="margin-left: 5%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Estrias</h3>
            <h3 style="text-align: center;">Drug Delivery</h3>
            <br>
            <video width="320" height="550" controls src="../static/img/final_6032e939498e76007104faa1_379999.mp4" style="margin-left: 8%"></video>
          </div>
          <div class="col-xl-4 col-lg-3">
            <h3 style="text-align: center;">Toxina Botulínica</h3>
            <h3 style="text-align: center;">&</h3>
            <h3 style="text-align: center;">Microagulhamento</h3>
            <video width="320" height="550" controls src="../static/img/final_6032eaa38208ae004b9c8d84_977476.mp4" style="margin-left: 11%"></video>
          </div>
        </div>
      </div>
    </section>

    <div id="carouselExampleIndicators" class="carousel slide bg-light" data-ride="carousel" style="padding-bottom: 50px">
      <div class="carousel-inner">
        <div class="carousel-item active imagem-carousel">
          <img class="d-block" src="../static/img/IMG_0204.jpeg" style="margin: 0 auto;">
          <div class="carousel-caption">
            <h5>Microagulhamento</h5>
          </div>
        </div>
        <div class="carousel-item imagem-carousel">
          <img class="d-block" src="../static/img/DE5E1807-7480-4B30-ABAC-B433420A037D.jpeg" alt="Second slide" style="margin: 0 auto;">
          <div class="carousel-caption">
            <h5>Peeling</h5>
          </div>
        </div>
        <div class="carousel-item imagem-carousel">
          <img class="d-block" src="../static/img/IMG_4004.jpeg" alt="Third slide" style="margin: 0 auto;">
          <div class="carousel-caption">
            <h5>Preenchimento Labial</h5>
          </div>
        </div>
        <div class="carousel-item imagem-carousel">
          <img class="d-block" src="../static/img/IMG_0743.jpeg" alt="Third slide" style="margin: 0 auto;">
          <div class="carousel-caption d-md-block">
            <h5>Laser para Manchas</h5>
            <H5>Actínicas (Sol)</H5>
          </div>
        </div>
        <div class="carousel-item imagem-carousel">
          <img class="d-block" src="../static/img/IMG_0657.jpeg" alt="Third slide" style="margin: 0 auto;">
          <div class="carousel-caption d-md-block">
            <h5>Bioestimulador de Colágeno</h5>
          </div>
        </div>
        <div class="carousel-item imagem-carousel">
          <img class="d-block" src="../static/img/IMG_9016.jpeg" alt="Third slide" style="margin: 0 auto;">
          <div class="carousel-caption d-md-block">
            <h5>Toxina Botulínica</h5>
          </div>
        </div>
        <div class="carousel-item imagem-carousel">
          <img class="d-block" src="../static/img/C267F9A1-00EC-427F-A6C4-F767F0C1457F.jpeg" alt="Third slide" style="margin: 0 auto;">
          <div class="carousel-caption d-md-block">
            <h5 style="color: black;">Estrias & Cicatriz</h5>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Signup Section -->

    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Fale comigo!</h2>

            <form role="form" method="POST" action="">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div class="form-group required form-inline d-flex">
                {{ form.nome(class_="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Seu nome", id="inputEmail") }}
              </div>
              <div class="form-group required form-inline d-flex">
                {{ form.email(class_="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Seu email", id="inputEmail") }}
              </div>
              <div class="form-group required form-inline d-flex">
                {{ form.mensagem(class_="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0", placeholder="Mensagem", id="mensagem") }}
              </div>
              <button type="submit" class="btn btn-primary mx-auto">Enviar</button>
            </form>

          </div>
        </div>
      </div>
    </section>

   <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Endereço</h4>
                <hr class="my-4">
                <div class="small text-black-50">Rua Jardim Botânico 657, sala 520</div>
                <div class="small text-black-50">CEP: 22.470-050</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="mailto:dramarianaboni@gmail.com" target="_top">dramarianaboni@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Telefone</h4>
                <hr class="my-4">
                <div class="small text-black-50">(21) 3874-0001</div>
                <div class="small text-black-50">(21) 98560-0001</div>
              </div>
            </div>
          </div>
        </div>
        
        <br/>
        <br/>
        <br/>
        <div>
          <h2 class="text-white" style="text-align:center; margin-bottom: 2rem">Siga-me nas redes sociais!</h2>
        </div>

        <div class="social d-flex justify-content-center" style="margin-top: 0">
          <a href="http://instagram.com/marianabonidermato/" class="mx-2" target="_tab">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/dramarianabonidermato/" class="mx-2" target="_tab">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; 2021
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/grayscale.min.js"></script>

  </body>

</html>